.dashboard{
    justify-content: flex-start;
    align-items: left;
    width:100%; 
    height:75px; 
    background-color: #e9eff7;
    border-bottom:solid;
    border-color: grey;
    
}

.logo{
    width: 60px; 
    height: 60px;
    border-radius:100%;
    float: left;
    margin-left:20px;
    margin-top:7px; 
}

.title{
    float: left;
    font-size: 30px; 
    padding: 10px;
    margin-left:10px;
    margin-top:6px;
    font-family: "Nunito", sans-serif ;
    font-weight:bold;
}

.main{
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #0084ff;
    color: white;
    font-weight:200px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:267px;
    box-shadow:10px grey;
    margin-bottom: 30px;
}

.about_us{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    height: 45px;
    padding-top: 23px;
    font-family: "Nunito", sans-serif ;
    font-size: 20px;
}

.about_us:hover{
    cursor: pointer;
}

.sign_in{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif ;
}

.login_or_sign_up{
    width:fit-content;
    height:fit-content;
    float: right;
    font-family:"Nunito", sans-serif;
    font-size: 20px;
    padding-top: 23px;
}

.login_or_sign_up:hover{
    cursor: pointer;
}
.credentials{
    width: fit-content;
    border:solid; 
    border-color: lightgrey;
    border-radius: 2px;
    border-width: 1.5px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    float: center;
    margin:auto; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
    align-items: center;
    background-color: rgb(254, 255, 255);
}

.body{
    background-color:rgb(245, 244, 244);
}

.no_account{
    font-size: 15px;
    color: #0084ff;
    font-family: Calibri;
    font-weight: none;
}

.input{
    width:260px;  
    height: 27px;
    border-color:#dee3e3;
    border-radius:5px;
    margin-bottom: 10px;
    
}

.input_label{
    font-family: Calibri;
}

.role{
    width:237px;
    height: 27px;
    border-radius:5px;
}

.sign_up{
    text-align: center;
    padding:20px;
    font-size: 70px;
    font-weight:bold;
}

.logo:hover{
    cursor: pointer;
}

.title:hover{
    cursor: pointer;
}

.no_account:hover{
    cursor: pointer;
}
